{% extends '::native.html.twig' %}
{% block navigation %}
    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </div>
    <nav>
        <ul class="languages">
            <li><a href="#">UK</a></li>
            <li><a href="#">EN</a></li>
        </ul>
        <ul class="navigation">
            <li><a href="{{ path('Blog_homepage') }}">{{ 'contents.navigator.home'|trans }}</a></li>
            <li><a href="{{ path('Blog_about') }}">{{ 'contents.navigator.about'|trans }}</a></li>
            <li><a href="{{ path('Blog_contact') }}">{{ 'contents.navigator.contact'|trans }}</a></li>
            <li><a href="{{ path('fos_user_resetting_request') }}">Registration</a></li>
            <li><a href="{{ path('fos_user_security_login') }}">Out</a></li>
        </ul>
            </nav>
{% endblock navigation %}

{% block blog_title %}
        <a href="#">{{ 'contents.name.title'|trans }}</a>
{% endblock blog_title %}

{% block blog_tagline %}
        <a href="#">{{ 'contents.name.tool'|trans }}</a>
{% endblock blog_tagline %}

{% block sidebar %}
        {{ 'contents.sidebar'|trans }}
{% endblock sidebar %}

{% block footer %}
        <h5><a> {{ 'contents.footer'|trans }} </a></h5>
{% endblock %}
